### IDE ###
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ошибки.txt
rustbook-ru/book/tomorrow-night.css
rustbook-ru/book/title-page.html
rustbook-ru/book/theme/2018-edition.css
rustbook-ru/book/searchindex.json
rustbook-ru/book/searchindex.js
rustbook-ru/book/searcher.js
rustbook-ru/book/print.html
rustbook-ru/book/mark.min.js
rustbook-ru/book/index.html
rustbook-ru/book/img/trpl20-01.png
rustbook-ru/book/img/trpl15-04.svg
rustbook-ru/book/img/trpl15-03.svg
rustbook-ru/book/img/trpl15-02.svg
rustbook-ru/book/img/trpl15-01.svg
rustbook-ru/book/img/trpl14-10.png
rustbook-ru/book/img/trpl14-07.png
rustbook-ru/book/img/trpl14-05.png
rustbook-ru/book/img/trpl14-04.png
rustbook-ru/book/img/trpl14-03.png
rustbook-ru/book/img/trpl14-02.png
rustbook-ru/book/img/trpl14-01.png
rustbook-ru/book/img/trpl04-06.svg
rustbook-ru/book/img/trpl04-05.svg
rustbook-ru/book/img/trpl04-04.svg
rustbook-ru/book/img/trpl04-03.svg
rustbook-ru/book/img/trpl04-02.svg
rustbook-ru/book/img/trpl04-01.svg
rustbook-ru/book/img/ferris/unsafe.svg
rustbook-ru/book/img/ferris/panics.svg
rustbook-ru/book/img/ferris/not_desired_behavior.svg
rustbook-ru/book/img/ferris/does_not_compile.svg
rustbook-ru/book/highlight.js
rustbook-ru/book/highlight.css
rustbook-ru/book/foreword.html
rustbook-ru/book/fonts/source-code-pro-v11-all-charsets-500.woff2
rustbook-ru/book/fonts/SOURCE-CODE-PRO-LICENSE.txt
rustbook-ru/book/fonts/open-sans-v17-all-charsets-regular.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-italic.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-800italic.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-800.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-700italic.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-700.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-600italic.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-600.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-300italic.woff2
rustbook-ru/book/fonts/open-sans-v17-all-charsets-300.woff2
rustbook-ru/book/fonts/OPEN-SANS-LICENSE.txt
rustbook-ru/book/fonts/fonts.css
rustbook-ru/book/FontAwesome/fonts/FontAwesome.ttf
rustbook-ru/book/FontAwesome/fonts/fontawesome-webfont.woff2
rustbook-ru/book/FontAwesome/fonts/fontawesome-webfont.woff
rustbook-ru/book/FontAwesome/fonts/fontawesome-webfont.ttf
rustbook-ru/book/FontAwesome/fonts/fontawesome-webfont.svg
rustbook-ru/book/FontAwesome/fonts/fontawesome-webfont.eot
rustbook-ru/book/FontAwesome/css/font-awesome.css
rustbook-ru/book/ferris.js
rustbook-ru/book/ferris.css
rustbook-ru/book/favicon.svg
rustbook-ru/book/favicon.png
rustbook-ru/book/elasticlunr.min.js
rustbook-ru/book/css/variables.css
rustbook-ru/book/css/print.css
rustbook-ru/book/css/general.css
rustbook-ru/book/css/chrome.css
rustbook-ru/book/clipboard.min.js
rustbook-ru/book/ch20-03-graceful-shutdown-and-cleanup.html
rustbook-ru/book/ch20-02-multithreaded.html
rustbook-ru/book/ch20-01-single-threaded.html
rustbook-ru/book/ch20-00-final-project-a-web-server.html
rustbook-ru/book/ch19-06-macros.html
rustbook-ru/book/ch19-05-advanced-functions-and-closures.html
rustbook-ru/book/ch19-04-advanced-types.html
rustbook-ru/book/ch19-03-advanced-traits.html
rustbook-ru/book/ch19-01-unsafe-rust.html
rustbook-ru/book/ch19-00-advanced-features.html
rustbook-ru/book/ch18-03-pattern-syntax.html
rustbook-ru/book/ch18-02-refutability.html
rustbook-ru/book/ch18-01-all-the-places-for-patterns.html
rustbook-ru/book/ch18-00-patterns.html
rustbook-ru/book/ch17-03-oo-design-patterns.html
rustbook-ru/book/ch17-02-trait-objects.html
rustbook-ru/book/ch17-01-what-is-oo.html
rustbook-ru/book/ch17-00-oop.html
rustbook-ru/book/ch16-04-extensible-concurrency-sync-and-send.html
rustbook-ru/book/ch16-03-shared-state.html
rustbook-ru/book/ch16-02-message-passing.html
rustbook-ru/book/ch16-01-threads.html
rustbook-ru/book/ch16-00-concurrency.html
rustbook-ru/book/ch15-06-reference-cycles.html
rustbook-ru/book/ch15-05-interior-mutability.html
rustbook-ru/book/ch15-04-rc.html
rustbook-ru/book/ch15-03-drop.html
rustbook-ru/book/ch15-02-deref.html
rustbook-ru/book/ch15-01-box.html
rustbook-ru/book/ch15-00-smart-pointers.html
rustbook-ru/book/ch14-05-extending-cargo.html
rustbook-ru/book/ch14-04-installing-binaries.html
rustbook-ru/book/ch14-03-cargo-workspaces.html
rustbook-ru/book/ch14-02-publishing-to-crates-io.html
rustbook-ru/book/ch14-01-release-profiles.html
rustbook-ru/book/ch14-00-more-about-cargo.html
rustbook-ru/book/ch13-04-performance.html
rustbook-ru/book/ch13-03-improving-our-io-project.html
rustbook-ru/book/ch13-02-iterators.html
rustbook-ru/book/ch13-01-closures.html
rustbook-ru/book/ch13-00-functional-features.html
rustbook-ru/book/ch12-06-writing-to-stderr-instead-of-stdout.html
rustbook-ru/book/ch12-05-working-with-environment-variables.html
rustbook-ru/book/ch12-04-testing-the-librarys-functionality.html
rustbook-ru/book/ch12-03-improving-error-handling-and-modularity.html
rustbook-ru/book/ch12-02-reading-a-file.html
rustbook-ru/book/ch12-01-accepting-command-line-arguments.html
rustbook-ru/book/ch12-00-an-io-project.html
rustbook-ru/book/ch11-03-test-organization.html
rustbook-ru/book/ch11-02-running-tests.html
rustbook-ru/book/ch11-01-writing-tests.html
rustbook-ru/book/ch11-00-testing.html
rustbook-ru/book/ch10-03-lifetime-syntax.html
rustbook-ru/book/ch10-02-traits.html
rustbook-ru/book/ch10-01-syntax.html
rustbook-ru/book/ch10-00-generics.html
rustbook-ru/book/ch09-03-to-panic-or-not-to-panic.html
rustbook-ru/book/ch09-02-recoverable-errors-with-result.html
rustbook-ru/book/ch09-01-unrecoverable-errors-with-panic.html
rustbook-ru/book/ch09-00-error-handling.html
rustbook-ru/book/ch08-03-hash-maps.html
rustbook-ru/book/ch08-02-strings.html
rustbook-ru/book/ch08-01-vectors.html
rustbook-ru/book/ch08-00-common-collections.html
rustbook-ru/book/ch07-05-separating-modules-into-different-files.html
rustbook-ru/book/ch07-04-bringing-paths-into-scope-with-the-use-keyword.html
rustbook-ru/book/ch07-03-paths-for-referring-to-an-item-in-the-module-tree.html
rustbook-ru/book/ch07-02-defining-modules-to-control-scope-and-privacy.html
rustbook-ru/book/ch07-01-packages-and-crates.html
rustbook-ru/book/ch07-00-managing-growing-projects-with-packages-crates-and-modules.html
rustbook-ru/book/ch06-03-if-let.html
rustbook-ru/book/ch06-02-match.html
rustbook-ru/book/ch06-01-defining-an-enum.html
rustbook-ru/book/ch06-00-enums.html
rustbook-ru/book/ch05-03-method-syntax.html
rustbook-ru/book/ch05-02-example-structs.html
rustbook-ru/book/ch05-01-defining-structs.html
rustbook-ru/book/ch05-00-structs.html
rustbook-ru/book/ch04-03-slices.html
rustbook-ru/book/ch04-02-references-and-borrowing.html
rustbook-ru/book/ch04-01-what-is-ownership.html
rustbook-ru/book/ch04-00-understanding-ownership.html
rustbook-ru/book/ch03-05-control-flow.html
rustbook-ru/book/ch03-04-comments.html
rustbook-ru/book/ch03-03-how-functions-work.html
rustbook-ru/book/ch03-02-data-types.html
rustbook-ru/book/ch03-01-variables-and-mutability.html
rustbook-ru/book/ch03-00-common-programming-concepts.html
rustbook-ru/book/ch02-00-guessing-game-tutorial.html
rustbook-ru/book/ch01-03-hello-cargo.html
rustbook-ru/book/ch01-02-hello-world.html
rustbook-ru/book/ch01-01-installation.html
rustbook-ru/book/ch01-00-getting-started.html
rustbook-ru/book/ch00-00-introduction.html
rustbook-ru/book/book.js
rustbook-ru/book/ayu-highlight.css
rustbook-ru/book/appendix-07-nightly-rust.html
rustbook-ru/book/appendix-06-translation.html
rustbook-ru/book/appendix-05-editions.html
rustbook-ru/book/appendix-04-useful-development-tools.html
rustbook-ru/book/appendix-03-derivable-traits.html
rustbook-ru/book/appendix-02-operators.html
rustbook-ru/book/appendix-01-keywords.html
rustbook-ru/book/appendix-00.html
rustbook-ru/book/404.html
rustbook-ru/book/.nojekyll
rustbook-ru/cycles_3_5/Cargo.lock
rustbook-ru/cycles_3_5/Cargo.toml
rustbook-ru/cycles_3_5/src/main.rs
rustbook-ru/cycles_3_5/target/.rustc_info.json
rustbook-ru/cycles_3_5/target/CACHEDIR.TAG
rustbook-ru/cycles_3_5/target/debug/.cargo-lock
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-c253783af073fa6e/bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-c253783af073fa6e/bin-cycles_3_5.json
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-c253783af073fa6e/dep-bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-c253783af073fa6e/invoked.timestamp
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-dc176b0a8aa1d384/dep-test-bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-dc176b0a8aa1d384/invoked.timestamp
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-dc176b0a8aa1d384/test-bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-dc176b0a8aa1d384/test-bin-cycles_3_5.json
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-f14a7c93068820f1/bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-f14a7c93068820f1/bin-cycles_3_5.json
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-f14a7c93068820f1/dep-bin-cycles_3_5
rustbook-ru/cycles_3_5/target/debug/.fingerprint/cycles_3_5-f14a7c93068820f1/invoked.timestamp
rustbook-ru/cycles_3_5/target/debug/cycles_3_5.d
rustbook-ru/cycles_3_5/target/debug/cycles_3_5.exe
rustbook-ru/cycles_3_5/target/debug/cycles_3_5.pdb
rustbook-ru/cycles_3_5/target/debug/deps/cycles_3_5-c253783af073fa6e.d
rustbook-ru/cycles_3_5/target/debug/deps/cycles_3_5-dc176b0a8aa1d384.d
rustbook-ru/cycles_3_5/target/debug/deps/cycles_3_5.d
rustbook-ru/cycles_3_5/target/debug/deps/cycles_3_5.exe
rustbook-ru/cycles_3_5/target/debug/deps/cycles_3_5.pdb
rustbook-ru/cycles_3_5/target/debug/deps/libcycles_3_5-c253783af073fa6e.rmeta
rustbook-ru/cycles_3_5/target/debug/deps/libcycles_3_5-dc176b0a8aa1d384.rmeta
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfealghg-0vdxhwd-working/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfealghg-0vdxhwd-working/dep-graph.part.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfealghg-0vdxhwd-working/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfealghg-0vdxhwd-working/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfealghg-0vdxhwd.lock
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfefwvxa-1kkkcxr-7onebx9jtyo3h5yr6swno5654/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfefwvxa-1kkkcxr-7onebx9jtyo3h5yr6swno5654/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfefwvxa-1kkkcxr-7onebx9jtyo3h5yr6swno5654/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-0jbr1d9ga43gg/s-gzkfefwvxa-1kkkcxr.lock
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfealgg9-0pek6ib-working/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfealgg9-0pek6ib-working/dep-graph.part.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfealgg9-0pek6ib-working/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfealgg9-0pek6ib-working/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfealgg9-0pek6ib.lock
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfefwvxi-0u18x8k-3qkehu52mqzefz5drpzv4iy0w/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfefwvxi-0u18x8k-3qkehu52mqzefz5drpzv4iy0w/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfefwvxi-0u18x8k-3qkehu52mqzefz5drpzv4iy0w/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-1y6ujlyeevrve/s-gzkfefwvxi-0u18x8k.lock
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/0ro9b14ut7d6e8q9hcz6hdqxd.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/1mismad4ax139m8jpxm56u5ps.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/308zo3n0i8r6ea3rsbg2gj9m2.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/42ccgda5sgw8bfy30qpdmbbds.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/6y5sk2h6y545qxj0e81qcxsgc.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/8ou23t89gn4uk8bg5szlornpo.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/adjhbrkknkep5q8qzolf7f5su.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/b1rk05pjdh23ne0d9d3xr2kxs.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/cbu6httwlt0lyi8wfkxix1c7a.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/dep-graph.part.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/ecicg9dka1lknodd23z9hcacm.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/evpfw0bkf2ohhz2b5q7r2gw5p.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6-working/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfeandqa-01njnq6.lock
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/0ro9b14ut7d6e8q9hcz6hdqxd.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/1mismad4ax139m8jpxm56u5ps.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/308zo3n0i8r6ea3rsbg2gj9m2.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/42ccgda5sgw8bfy30qpdmbbds.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/6y5sk2h6y545qxj0e81qcxsgc.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/8ou23t89gn4uk8bg5szlornpo.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/adjhbrkknkep5q8qzolf7f5su.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/b1rk05pjdh23ne0d9d3xr2kxs.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/cbu6httwlt0lyi8wfkxix1c7a.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/dep-graph.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/ecicg9dka1lknodd23z9hcacm.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/evpfw0bkf2ohhz2b5q7r2gw5p.o
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/query-cache.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki-8rpdpsrxhpenexr4rk04iuozc/work-products.bin
rustbook-ru/cycles_3_5/target/debug/incremental/cycles_3_5-37m9q3i4pavv1/s-gzkfefy8bb-1rihqki.lock
rustbook-ru/src/ch00-00-introduction.md.bak
.vs/book/FileContentIndex/2ca08269-4e51-443c-a77b-85f12e843257.vsidx
.vs/book/FileContentIndex/2f454a4b-0c2f-4cfc-9095-155eb0b0ccf4.vsidx
.vs/book/FileContentIndex/b86b8781-ac9a-4547-ba2a-089f8a95030c.vsidx
.vs/book/FileContentIndex/d0b97c63-b172-441f-9ffa-a95133024ebc.vsidx
.vs/book/FileContentIndex/e552bc62-c316-441c-8c45-a5815ab8a22d.vsidx
.vs/book/FileContentIndex/ff24b99c-24f9-479c-9475-81b161c44b02.vsidx
.vs/book/v17/.wsuo
.vs/book/v17/DocumentLayout.backup.json
.vs/book/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/book/v17/workspaceFileList.bin
.vs/book/v17/.wsuo
